{% extends "base.html" %}
{% block title %}个人博客首页{% endblock %}




    <h1 style="text-align:center">欢迎光临fhb的博客</h1>
    {% block title_list %}
        {% for blog in blogs %}

            {% include "list_style.html" %}

        {% endfor %}
    {% endblock %}

    {% block pagination %}
        <ul class="pagination">

        {% if blogs.has_previous %}
            <li><a href="?page={{ blogs.previous_page_number }}"></a></li>
        {% else %}
            <li class="active"><a></a></li>
        {% endif %}

        {% for p in page_range %}
          {% ifequal p blogs.number %}
             <li class="active"><a>{{p}}</a></li>
          {% else %}
            <li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a><li>
          {% endifequal %}
        {% endfor %}

        {% if blogs.has_next %}
            <li><a href="?page={{ blogs.next_page_number }}"></a></li>
        {% else %}
            <li class="active"> <a></a></li>
        {% endif %}
        </ul>

    {% endblock %}

{% block lastest_blog%}
	{% for blog in latest %}
	<li><a href="/detail/?id={{ blog.id }}" target=_blank>{{ blog.title }}</a></li>
	{% endfor %}
{% endblock %}


{% block tags %}
   	<h5>
      {% include "tag_info.html" %}
   </h5>
{% endblock %}

{% block friends %}

  {% include "friends.html" %}

{% endblock %}

